@model Assignment1.Models.Guild

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Guild</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuildName" class="control-label"></label>
                <input asp-for="GuildName" class="form-control" />
                <span asp-validation-for="GuildName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuildTag" class="control-label"></label>
                <input asp-for="GuildTag" class="form-control" />
                <span asp-validation-for="GuildTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GuildHall" /> @Html.DisplayNameFor(model => model.GuildHall)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

